---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <section class="flex flex-col items-center">
    <h1 class="text-3xl mb-4">Esta página no existe...</h1>
    <img
      src="https://media1.tenor.com/m/MYZgsN2TDJAAAAAC/this-is.gif"
      alt="404 not found"
    />
  </section>
</Layout>
